<ejs-sidebar #sidebar [enableGestures]="false"
             [position]="'Right'" [type]="'Over'"
[width]="'500px'">

  <ng-container *ngIf="isShow else defaultTemplate">
    <ng-container *ngFor="let i of [1,2,3,4]">
      <ejs-richtexteditor></ejs-richtexteditor>
    </ng-container>
  </ng-container>

  <ng-template #defaultTemplate>
    <ng-container *ngFor="let i of [1,2]">
      <ejs-richtexteditor></ejs-richtexteditor>
    </ng-container>
  </ng-template>


  <br/>
  <button (click)="dynamic()"  ejs-button type="button">
   Show Dynamic Sidebar
  </button>
</ejs-sidebar>

<button (click)="openSidebar()"  ejs-button type="button">
  Open Sidebar
</button>
